@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 220 90% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 94%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 20% 90%;
    --muted-foreground: 215 15% 45%;
    --accent: 210 20% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 20% 85%;
    --input: 210 20% 85%;
    --ring: 220 90% 60%;
    --radius: 1rem;
  }

  .dark {
    /* This is for if a light mode is added later */
    --background: 215 30% 15%;
    --foreground: 210 40% 98%;
    --card: 215 30% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 215 30% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 220 90% 55%;
    --primary-foreground: 210 40% 98%;
    --secondary: 215 25% 22.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 25% 22.5%;
    --muted-foreground: 215 15% 65%;
    --accent: 215 25% 22.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 25% 22.5%;
    --input: 215 25% 22.5%;
    --ring: 220 90% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full py-12 md:py-20 lg:py-24;
  }
}
